@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "SAOLDISPLAY";
  src: url("../font/SaolDisplay-Regular.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "AKKURATLLWEB";
  src: url("../font/AkkuratLLWeb-Light.woff2") format("woff2");
  font-weight: 700;
}