@import url("./font.css");
@import url("./reset.css");
@import url("./common.css");
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}
body.hidden {
  overflow: hidden;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  pointer-events: auto;
}
header .logo {
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
  opacity: 1;
  mix-blend-mode: difference;
  font-family: "Couture", sans-serif;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 10px;
}
header .logo a {
  display: block;
  height: 100%;
}
header .navbar {
  cursor: pointer;
  z-index: 10;
  display: flex;
  font-size: 25px;
}
header .navbar div {
  display: inline-block;
  cursor: pointer;
}
header .navbar div.hide {
  display: none;
}
header .nav_main {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  background-color: #001528;
}
header .nav_main.on {
  visibility: visible;
}
header .nav_main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .nav_main ul li {
  font-size: 100px;
}
header .nav_main .stamp {
  position: absolute;
  margin: 0 0 43px 43px;
  left: 0;
  bottom: 0;
}
header .nav_main .address {
  position: absolute;
  margin: 0 43px 43px 0;
  right: 0;
  bottom: 0;
  text-align: right;
}
@media (max-width: 1024px) {
  header .logo {
    font-size: 25px;
  }
  header .navbar {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  header .logo {
    font-size: 18px;
  }
  header .navbar {
    font-size: 17px;
  }
}

footer {
  margin: 12% 8% 8% 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
footer .footer_menu {
  display: flex;
  flex: 1 1 66%;
  flex-direction: column;
  margin-bottom: 8%;
}
footer .footer_menu ul li {
  font-size: 60px;
  line-height: 70px;
}
footer .sns {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 33%;
  margin-bottom: 8%;
  text-align: right;
}
footer .sns ul li {
  font-size: 40px;
  line-height: 40px;
}
footer .address {
  display: flex;
  flex: 1 1 42%;
  justify-content: flex-end;
  text-align: right;
}
footer .address p {
  font-size: 18px;
  line-height: 25px;
  font-family: "Akkurat LL Light", "Noto Sans KR", sans-serif;
  font-weight: 300;
}
@media (max-width: 1024px) {
  footer .footer_menu {
    flex: 1 1 33%;
  }
  footer .footer_menu ul li {
    font-size: 40px;
    line-height: 40px;
  }
  footer .sns ul li {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  footer .footer_menu {
    flex: 1 1 33%;
  }
  footer .footer_menu ul li {
    font-size: 25px;
    line-height: 30px;
  }
  footer .sns ul li {
    font-size: 20px;
    line-height: 20px;
  }
}

.res_wrap {
  z-index: 100;
}
.res_wrap .btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 1;
  outline: none;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 hwb(0 0% 100%/0.08);
  cursor: pointer;
}
.res_wrap .btn > div {
  height: 36px;
  width: 36px;
  transition: all 0.3s ease-in-out;
  display: none;
}
.res_wrap .btn > div.on {
  display: block;
}
.res_wrap .btn > div.reservation_btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.res_wrap .btn > div.close_btn {
  position: absolute;
  top: 12px;
  right: 12px;
}
.res_wrap .message {
  position: fixed;
  right: 30px;
  bottom: 110px;
  padding: 20px;
  border-radius: 10px 10px 0 10px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  color: #1d1f20;
  line-height: 1.5;
  pointer-events: auto;
  display: none;
}
.res_wrap .message.on {
  display: block;
}