.txt_hide {
  overflow: hidden;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section1 .large_img {
  display: block;
  position: relative;
  margin-top: 280px;
}
.section1 .large_img h2 {
  text-align: center;
  margin: 8%;
  height: 50vh;
  font-size: 5vw;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 {
  display: block;
  margin: 15% 0;
}
.section2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8%;
  padding: 0;
  gap: 16%;
}
.section2 ul li {
  display: flex;
  flex-direction: column;
  flex: 1 1 34%;
  display: flex;
  flex-direction: column;
}
.section2 ul li h3 {
  font-size: 3vw;
  font-weight: 500;
}
.section2 ul li p {
  margin: 8% 0;
  font-size: 19px;
}
.section2 ul li .img_container {
  opacity: 1;
  visibility: inherit;
  padding-bottom: 130%;
  position: relative;
}
.section2 ul li .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section2 ul li.second {
  flex-direction: column-reverse;
}
.section2 ul li.second h3 {
  margin-top: 8%;
}
@media (max-width: 767px) {
  .section2 ul li {
    flex: 1 1 100%;
    margin-bottom: 8%;
  }
  .section2 ul li h3 {
    font-size: 22px;
  }
  .section2 ul li p {
    font-size: 14px;
  }
  .section2 ul li .img_container {
    padding-bottom: 80%;
  }
  .section2 ul li.second {
    flex-direction: column;
  }
}

.section3 {
  overflow: hidden;
  margin: 0 8% 15%;
}
.section3 .container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding: 20px 0;
  font-family: "Couture", sans-serif;
}
.section3 .scrolling-text {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.section3 .scrolling-text .scrolling-text-content {
  color: #fff;
  font-size: 120px;
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  line-height: 1em;
  margin: 50px 0;
}

.section4 {
  position: relative;
  margin-bottom: 15%;
}
.section4 h2 {
  position: absolute;
  margin: 0;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  font-size: 6vw;
}

.section5 {
  position: relative;
}
.section5 h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.section5 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8%;
  padding: 0;
  gap: 16%;
}
.section5 ul li {
  margin-top: 0;
  flex: 1 1 34%;
  margin-top: 16%;
  min-height: 250px;
}
.section5 ul li .img_container {
  opacity: 1;
  visibility: inherit;
  padding-bottom: 130%;
  position: relative;
}
.section5 ul li .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .section5 li {
    flex: 1 1 100%;
    margin-bottom: 8%;
  }
}