img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section1 .large_img {
  display: block;
  position: relative;
  margin-top: 15%;
}
.section1 .large_img h2 {
  text-align: center;
  margin: 5%;
  height: 50vh;
  font-size: 5vw;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section1 .large_img h2 {
    height: 20vh;
    padding-top: 70px;
  }
}

.section2 {
  display: block;
  margin: 15% 0 8% 0;
}
.section2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8%;
  padding: 0;
  gap: 16%;
}
.section2 ul li {
  display: flex;
  flex-direction: column;
  flex: 1 1 34%;
  display: flex;
  flex-direction: column;
}
.section2 ul li h3 {
  font-size: 3vw;
  font-weight: 500;
  font-family: "Couture", sans-serif;
}
.section2 ul li p {
  margin: 8% 0;
  font-size: 19px;
  font-family: "Akkurat LL Light", "Noto Sans KR", sans-serif;
}
.section2 ul li .img_container {
  opacity: 1;
  visibility: inherit;
  padding-bottom: 130%;
  position: relative;
}
.section2 ul li .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section2 ul li.second {
  flex-direction: column-reverse;
}
.section2 ul li.second h3 {
  margin-top: 8%;
}
@media (max-width: 767px) {
  .section2 ul li {
    margin-bottom: 8%;
    flex: 1 1 34%;
  }
  .section2 ul li h3 {
    font-size: 18px;
  }
  .section2 ul li p {
    font-size: 10px;
  }
  .section2 ul li .img_container {
    padding-bottom: 80%;
    min-height: 80px;
  }
  .section2 ul li.second {
    flex-direction: column;
  }
}

.section3 {
  overflow: hidden;
  margin: 0 8% 15%;
}
.section3 .container {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}
.section3 .txt {
  font-size: 6vw;
  font-family: "Couture", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 767px) {
  .section3 {
    margin-bottom: 30%;
  }
  .section3 .container {
    height: 10vh;
  }
}

.section4 {
  position: relative;
  margin-bottom: 15%;
}
.section4 h2 {
  position: absolute;
  margin: 0;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  font-size: 6vw;
}
@media (max-width: 767px) {
  .section4 {
    margin-bottom: 30%;
  }
}

.section5 {
  position: relative;
}
.section5 h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  font-family: "Couture", sans-serif;
}
.section5 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8%;
  padding: 0;
  gap: 16%;
}
.section5 ul li {
  margin-top: 0;
  flex: 1 1 34%;
  margin-top: 16%;
  min-height: 250px;
}
.section5 ul li .img_container {
  opacity: 1;
  visibility: inherit;
  padding-bottom: 130%;
  position: relative;
}
.section5 ul li .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .section5 ul li {
    margin-top: 4%;
  }
}