img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section1 .large_img {
  display: block;
  position: relative;
  margin-top: 280px;
  width: 100%;
}
.section1 .large_img h1 {
  text-align: center;
  margin: 0 8% 8% 8%;
}
.section1 .large_img h1 .text_animation div {
  display: inline-block;
  font-size: 114px;
  text-transform: uppercase;
}

.section2 {
  display: block;
  margin: 15% 0;
}
.section2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8%;
  padding: 0;
  gap: 16%;
}
.section2 ul li {
  display: flex;
  flex-direction: column;
  flex: 1 1 34%;
  display: flex;
  flex-direction: column;
}
.section2 ul li h3 .text_animation div {
  display: inline-block;
  font-size: 77px;
  text-transform: uppercase;
}
.section2 ul li p {
  margin-bottom: 8%;
  line-height: 28px;
  font-size: 19px;
}
.section2 ul li .img_container {
  opacity: 1;
  visibility: inherit;
  height: 792px;
  transform: rotate(10deg);
}
.section2 ul li .img_container.on {
  transform: rotate(0deg);
  transition: all ease 1s;
}
.section2 ul li.second {
  flex-direction: column-reverse;
}
.section2 ul li.second h3 {
  margin-top: 8%;
}

.section3 {
  overflow: hidden;
  margin-left: 8%;
  margin-bottom: 15%;
}
.section3 h2 {
  margin: 0 8% 8% 0;
  font-size: 117px;
  text-transform: uppercase;
}
.section3 h2 div {
  display: inline-block;
}
.section3 ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 100%;
}
.section3 ul li {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 6vw 0 0;
}
.section3 ul li .img_container {
  width: 45vw;
  max-width: 650px;
  height: 80vh;
  max-height: 800px;
}
.section3 ul li .txt {
  flex: 1;
  margin-top: 5%;
  height: 100%;
  font-size: 62px;
}

.section4 {
  position: relative;
}
.section4 h1 {
  position: absolute;
  margin: 0;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}
.section4 h1 .text_animation div {
  display: inline-block;
  font-size: 77px;
  text-transform: uppercase;
  font-size: 119px;
}

.section5 h2 {
  text-align: center;
  margin: 15% 8% 0 8%;
  position: absolute;
  z-index: 10;
}
.section5 h2 div {
  display: inline-block;
  text-transform: uppercase;
  font-size: 117px;
}
.section5 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8%;
  padding: 0;
  gap: 16%;
}
.section5 ul li {
  margin-top: 0;
  flex: 1 1 34%;
  height: 720px;
  margin-top: 16%;
  min-height: 250px;
}
.section5 ul li .img_container {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  height: 100%;
  width: 100%;
  position: relative;
}