@import './variables';
@import './mixin';

@import url('./font.css');
@import url('./reset.css');
@import url('./common.css');

body {
    font-family: $font-en01;
    background-color: #000;
    color: #fff;

    &.hidden{
        overflow: hidden;
    }
}


header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;

    .logo {
        cursor: pointer;
        z-index: 10;
        pointer-events: auto;
        opacity: 1;
        mix-blend-mode: difference;
        font-family: $font-en03;
        font-style: normal;
        font-size: 35px;
        letter-spacing: 10px;


        a {
            display: block;
            height: 100%;
        }
    }

    .navbar {
        cursor: pointer;
        z-index: 10;
        display: flex;
        font-size: 25px;

        div {
            display: inline-block;
            cursor: pointer;

            &.hide {
                display: none;
            }

        }

    }

    .nav_main {
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        visibility: hidden;
        background-color: #001528;

        &.on{
            visibility: visible;

        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
                font-size: 100px;

            }
        }

        .stamp {
            position: absolute;
            margin: 0 0 43px 43px;
            left: 0;
            bottom: 0;
        }
    }

    @include tablet{
         .logo{
             font-size: 25px;
         }   
         .navbar{
             font-size: 20px;
         }
    }

    @include mobile{
        .logo{
            font-size: 18px;
        }   
        .navbar{
            font-size: 17px;
        }
   }
}

footer {
    margin: 12% 8% 30% 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-family: $font-en02;

    .footer_menu {
        display: flex;
        flex: 1 1 66%;
        flex-direction: column;
        margin-bottom: 8%;

        ul {
            li {
                font-size: 60px;
                line-height: 70px;
            }
        }
    }

    .sns {
        display: flex;
        justify-content: flex-end;
        flex: 1 1 33%;
        margin-bottom: 8%;
        text-align: right;

        ul {
            li {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }


    @include tablet{
        .footer_menu{
            flex: 1 1 33%;
            ul{
                li{
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }   
        .sns{
            ul{
                li{
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
   }

   @include mobile{
    .footer_menu{
        flex: 1 1 33%;
        ul{
            li{
                font-size: 25px;
                line-height: 30px;
            }
        }
    }   
    .sns{
        ul{
            li{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
  }
}

