@import './variables';
@import './mixin';

.txt_hide{
    overflow: hidden;
}


img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section1 {
    .large_img {
        display: block;
        position: relative;
        // margin-top: 280px;;

        h2 {
            text-align: center;
            margin: 8%;
            height: 50vh;
            font-size: 5vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.section2 {
    display: block;
    margin: 15% 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 8%;
        padding: 0;
        gap: 16%;


        li {
            display: flex;
            flex-direction: column;
            flex: 1 1 34%;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 3vw;
                font-weight: 500;
            }

            p {
                
                margin: 8% 0;
                font-size: 19px;
            }

            .img_container {
                opacity: 1;
                visibility: inherit;
                padding-bottom: 130%;
                background: #f00;
                position: relative;
                img{
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }


            &.second {
                flex-direction: column-reverse;

                h3 {
                    margin-top: 8%;
                }
            }
        }

        @include mobile{
            li{
                flex:  1 1 100%;
                margin-bottom: 8%;
                h3{
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
                .img_container{
                    padding-bottom: 80%;
                }
                &.second{
                    flex-direction: column;
                }
            }
        }
    }
}

.section3 {
    overflow: hidden;
    margin-left: 8%;
    margin-bottom: 15%;

    h2 {
        margin: 0 8% 8% 0;
        font-size: 6vw;
        text-transform: uppercase;

        div {
            display: inline-block;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0 6vw 0 0;

            .img_container {
                width: 45vw;
                max-width: 650px;
                height: 80vh;
                max-height: 800px;
            }

            .txt {
                flex: 1;
                margin-top: 5%;
                height: 100%;
                font-size: 62px;
            }
        }
    }
}

.section4 {
    position: relative;

    h2 {
        position: absolute;
        margin: 0;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        font-size: $font-h2;


    }
}

.section5 {
    position: relative;
    h2{
        text-align: center;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 10;
        font-size: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 8%;
        padding: 0;
        gap: 16%;

        li {
            margin-top: 0;
            flex: 1 1 34%;
            height: 720px;
            margin-top: 16%;
            min-height: 250px;

            .img_container {
                clip-path: inset(0 0 0 0);
                height: 100%;
                width: 100%;
                position: relative;
            }
        }
    }
}